h1 {
    text-align: center;
    background: #e3f4ff;
    padding: 8px;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 8px;
}

li {
    background: hsl(200, 20%, 97%);
  margin-bottom: 8px;
  padding: 16px 8px;
}